*.pyc
clean.bat
webmanager/db/dev.db
webmanager/media/applications/*.zip
webmanager/media/app_temp/*.zip
webmanager/media/icons/*
!webmanager/media/icons/index.html
webmanager/log.txt
mtmenu/apps
mtmenu/logs
mtmenu/out.txt
.project
.pydevproject
.settings
*.prefs
*~
vpproject
