<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Sitemap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <ul>
        <li><b>For non-authenticated users</b>
            <ul>
                <li>Login</li>
                <li>Technical documentation
                    <ul>
                        <li>Tutorial #1</li>
                        <li>Tutorial #2</li>
                        <li>...</li>
                    </ul>
                </li>
                <li>FAQ</li>
            </ul>
        </li>
        <li><b>For authenticated users</b>
            <ul>
            <li>Applications List
                <ul>
                    <li>Add application</li>
                </ul>
            </li>
            <li>Contact</li>
            <li>Technical documentation
                    <ul>
                        <li>Tutorial #1</li>
                        <li>Tutorial #2</li>
                        <li>...</li>
                    </ul>
            </li>
            <li>Logout</li>
            </ul>
        </li>
        <li><b>For administrators</b>
            <ul>
                <li>Administrator options
                    <ul>
                        <li>Projector Scheduling</li>
                        <li>Screensaver Configuration</li>
                        <li>Suspension Time</li>
                        <li>Category management</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><b>For power administrators</b>
            <ul>
                <li>Administrator options
                    <ul>
                        <li>Projector Scheduling</li>
                        <li>Screensaver Configuration</li>
                        <li>Suspension Time</li>
                        <li>Category management</li>
                        <li>Administrator management
                            <ul>
                                <li>Add administrator</li>
                                <li>Set administrator for abuse reports</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>
