<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Sitemap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <ul>
        <li>For users that are not logged in
            <ul>
                <li>Login</li>
                <li>Technical documentation
                    <ul>
                        <li>Tutorial #1</li>
                        <li>Tutorial #2</li>
                        <li>...</li>
                    </ul>
                </li>
                <li>FAQ</li>
            </ul>
        </li>
    </ul>
</body>
</html>
