{% extends 'base.html' %}

{% block title %} {{ application.name }} {% endblock %}

{% block breadcrumb%}
	<li><a href="{% url application-list %}">Applications</a></li>
	<li>{{ application.name }}</li>
{% endblock %}

{% block content%}

<div class="app">
	{% load show_stars %}
	<p>{% show_stars application.stars of 5 round to half %}</p>
	<p class="author"><b>Author:</b> <a href="mailto:{{ application.owner.email }}">{{ application.owner }}</a></p>
	<p class="Category"><b>Category:</b> {{ application.category }}</p>
	<p><b>Created:</b> {{ application.date_created|date }}</p>
	<p><b>Updated:</b> {{ application.date_updated|date }}</p>
	<p><b>Runs:</b> {{ application.runs }}</p>
	
	<h3>Actions</h3>
	<ul>
	{% ifequal user application.owner %}
		<li><a href="/media/{{ application.zipfile }}">Download</a></li>
		<li><a href="{% url application-edit application.id %}">Edit Application</a></li>
		<li><a href="{% url application-delete application.id %}" 
			onclick="return confirm('Delete application', 'Are you sure you want to delete this app?');">
				Delete Application</a></li>
	{% else %}
		{% if user.is_staff %}
			<li><a href="{% url application-admin-remove application.id %}" 
				onclick="return confirm('Remove application', 'Are you sure you want to remove this app?');">
				Remove Application</a></li>
		{% else %}
			<li><a href="#" onClick="toggle_report_abuse_form();">Report Abuse</a></li>
		{% endif %}
	{% endifequal %}
</div>

<img class="icon" src="/media/{{ application.icon }}" alt="{{ application.name }}" />

<p class="description">{{ application.description }}</p>



<div id="report_abuse_form" style="visibility:hidden">
<form action="report_abuse/" method="post" enctype="multipart/form-data">
    {{ form.as_ul }}
    <input type="submit" value="Report" />
</form>
</div>

<script type="text/javascript">
    function toggle_report_abuse_form() {
        var form = document.getElementById('report_abuse_form');
        if (form.style.visibility == 'visible') {
            form.style.visibility = 'hidden';
        }
        else {
            form.style.visibility = 'visible';
        }
    }
</script>

      


{% endblock %}