{% extends 'base.html' %}

{% block title %} {{ application.name }} {% endblock %}

{% block breadcrumb%}
	<li><a href="{% url application-list %}">Applications</a></li>
	<li>{{ application.name }}</li>
{% endblock %}

{% block content%}

<p><b>App Name:</b> {{ application.name }}</p>
<p><b>Owner:</b> {{ application.owner }}</p>
<p><b>Category:</b> {{ application.category }}</p>
<p><b>Description:</b> {{ application.description }}</p>
<p><b>Date Created:</b> {{ application.date_created }}</p>
<p><b>Date Updated:</b> {{ application.date_updated }}</p>
<p><b>Number of times run:</b> {{ application.runs }}</p>
<p><b>Rating:</b> {{ application.stars }}</p>

{% ifequal user application.owner %}

<a href="{% url application-edit application.id %}">Edit Application</a>
<br/>
<a href="{% url application-delete application.id %}" onclick="return confirm('Delete application', 'Are you sure you want to delete this app?');">Delete Application</a>

{% endifequal %}

{% endblock %}

{% block menu %}
	<h1>Authenticated User</h1>
	<ul>
		<li class="user"><b>{{ user }}</b></li>
		<li><a href="/accounts/logout/">Logout</a></li>
	</ul>
	<h1>General Menu</h1>
	<ul>
		<li><a href="{% url application-list %}">Applications</a></li>
		<li><a href="{% url contact-admin %}">Contact Admin</a></li>
		<li><a href="{% url tech-doc %}">Technical Documentation</a></li>
		<li><a href="{% url faq %}">FAQ</a></li>
	</ul>
	{% if user.is_staff %}
	<h1>Admin Menu</h1>
	<ul>
		<li><a href="{% url projectors %}">Projectors</a></li>
		<li><a href="{% url screensaver %}">ScreenSaver</a></li>
		<li><a href="{% url suspension %}">Suspension</a></li>
		<li><a href="{% url categories %}">Categories</a></li>
		{% if user.is_superuser %}
		<li><a href="{% url manage-admins %}">Manage Admins</a></li>
		<li><a href="{% url define-admin %}">Define Contact Admin</a></li>
		{% endif %} 
	</ul>
	{% endif %} 
{% endblock %}