{% extends 'base.html' %}

{% block title %} Applications Log <hr/>{% endblock %}
{% block breadcrumb%}
	<li><a href="{% url application-list %}">Applications</a></li>
	<li><a href="{% url application-detail identifier%}">{{appname}}</a></li>
    <li>Log</li>
{% endblock %}

{% block content %}
<div id="loglist">
	{% for l in logs %}
        <p>Date: {{l.datetime|date:"d/m/Y"}} </p>
        <p>Hour: {{l.datetime|date:"H:i"}} </p>
        <p>Error Description:</p>
        <p style="border: 1px solid black; padding: 3px;">{{l.error_description}}</p>
        <br/><br/>
    {% endfor %}
</div>
{% endblock %}
