
{% extends 'base.html' %}

{% block breadcrumb%}
	<li><a href="{% url application-list %}">Applications</a></li>
	{% if object %}
		<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
		<li>Edit Application</li>
	{% else %}
		<li>Add Aplication</li>
	{% endif %}
{% endblock %}

{% block title %}
	{% if object %}
		Edit Application
	{% else %}
		Add Application
	{% endif %}
{% endblock %}



{% block javascript %}
	<script src="{{ MEDIA_URL }}js/swfupload/swfupload.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/swfupload/swfupload.cookies.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/swfupload/fileprogress.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/swfupload/handlers.js" type="text/javascript"></script>
{% endblock %}


{% block content %}

	{% if not messages %}
		<blockquote>This page allows you to upload an application bundle to the SenseWall.
			To learn how to develop and prepare your app for deployment, please
			read the technical documentation on the left menu.</blockquote>
	{% endif %}

<!--	{% if form.errors %}
	<h2>Please correct the following error{{ form.errors|pluralize }}:</h2>
	{% endif %}-->
    {% if messages %}
        <blockquote>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </blockquote>
    {% endif %}
	
	<form action="" method="post" enctype="multipart/form-data">
		{{ form.as_ul }}
		<div class="clear"></div>
		<input type="submit" value="Save Application" />
	</form>

{% endblock %}


{% block extrajs %}
	<style>
		.flash div {
			display: inline;
			margin-right: 10px;
		}
		#upload_container {
			display: inline;
		}
	</style>
	<script language="javascript" type="text/javascript">
		var swfupload;
		window.onload = function() {
			var replaceable_div = document.getElementById('id_zipfile');
			var new_div = document.createElement('div');
			new_div.innerHTML = '<span id="upload_btn"></span><span class="flash" id="fsUploadProgress"> \
				</span><input type="hidden" name="hidFileID" id="hidFileID" value="" />';
			new_div.id = 'upload_container';
			replaceable_div.parentNode.replaceChild(new_div, replaceable_div);
			
			swfupload = new SWFUpload({
				debug: false,

				upload_url: "{% url application-upload %}?user_id={{ user.id }}",
				flash_url: "{{ MEDIA_URL }}js/swfupload/swfupload.swf",

				button_placeholder_id: "upload_btn",
				button_image_url : "{{ MEDIA_URL }}img/XPButtonUploadText_61x22.png",
				button_width: "61",
				button_height: "22",
				button_cursor: SWFUpload.CURSOR.HAND,
				
				// Flash file settings
				file_size_limit : "200 MB",
				file_types : "*.zip",
				file_types_description : "Zip Files",
				file_upload_limit : "0",
				file_queue_limit : "1",

				file_queue_error_handler : fileQueueError,

				upload_progress_handler : uploadProgress,
				upload_error_handler : uploadError,
				upload_success_handler : uploadSuccess,
				upload_complete_handler : uploadComplete,
				
				custom_settings : {
									progress_target : "fsUploadProgress",
									upload_successful : false
								},

				file_dialog_complete_handler: function() { this.startUpload(); },
      		});
    	};
	</script>
{% endblock %}