{% extends 'base.html' %}

{% block title %} Applications List {% endblock %}

{% block breadcrumb%}
	<li>Applications</li>
{% endblock %}

{% block content %}

{% if subtitle %}<h3>{{ subtitle }}</h3>{% endif %}

<script type="text/javascript">
function clearDefaultText(e) {
    var inp_field = document.getElementById('input_search_field');    
    if(inp_field.value == "Search for...."){
    inp_field.value ="";
    }
    
}
function setDefaultText(e){
    var inp_field = document.getElementById('input_search_field');    
    if(inp_field.value==""){
        inp_field.value ="Search for....";
        }
}
function changeState(){
    var menu = document.getElementById('ddmenu');
    if(menu.style.visibility=="visible"){
        menu.style.visibility="hidden";
    }
    else if(menu.style.visibility=="hidden"){
        menu.style.visibility="visible";
    }
}
</script>

<div id="appfilter" align="center">
    <a href="#" onclick="changeState()">Show filters</a>
    <form action="/applications/filter/" method="POST"  id="ddmenu" style="visibility:hidden" >
        {{form.as_p}}
        <input type="submit" value="Go!" />
    </form>
</div>

<div id="searchapp" align="left">
    <form action="/applications/search/" method="POST" >
        <input type="text" value="Search for...." name="q" id="input_search_field" onblur="setDefaultText()" onfocus="clearDefaultText()" value=""/>
        <input type="submit" value="Search" />
    </form>
</div>

<div id="addapp" align="right">
	<ul class="object-tools">
		<li><a href='{% url application-add %}' class="add-button">Add Application</a></li>
	</ul>	
</div>


{% load show_stars %}
<div id="applist">
	<table class="gradient-style">
		<thead>
			<tr>
				<th>Name</th>	
				<th>Author</th>
				<th>Category</th>
				<th>Rating</th>
			</tr>
		</thead>
	
		<tbody>
	
		{% load sizelimit %}
		{% for app in application_list %}
		<tr>
			<td><a href="{{ app.get_absolute_url }}">{{ app.name|limit:25 }}</a></td>
			<td>{{ app.owner }}</td>
			<td>{{ app.category }}</td>
			<td>{% show_stars app.stars of 5 round to half %}</td>
		</tr>
		{% endfor %}
	
		</tbody>
	</table>
</div>
{% endblock %}
