{% extends 'base.html' %}

{% block title %} Applications {% endblock %}

{% block javascript %}<script src="/media/js/applications.js"></script>{% endblock %}

{% block breadcrumb%}
	<li><a href="{% url application-list %}">Applications</a></li>
	{% if cat %}<li>{{ cat }}</li>{% endif%}
{% endblock %}

{% block content %}

{% if cat %}<h3>{{ cat }}</h3>{% endif%}

<div id="app_search">
    <form action="/applications/search/" method="POST" >
        <input type="search" value="{% if query %}{{ query }}{% endif %}" name="q" id="input_search_field" />
        <input type="submit" value="Search" />
    </form>
</div>

<div class="clear"></div>
<div id="app_add">
	<ul class="object-tools">
		<li><a href='{% url application-add %}' class="add-button">Add Application</a></li>
		<li><a href='#' onclick="changeState();">Show Categories</a></li>
	</ul>
</div>

<div id="app_filter" style="display: none;">
	<h4>Categories</h4>
	<ul>
	{% for category in categories %}
		<li><a href="{% url application-list category.name %}">{{ category.name }}</a></li>
	{% endfor %}
	</ul>
</div>

{% load show_stars %}
<div id="applist">
	<table class="gradient-style">
		<thead>
			<tr>
				<th>Name</th>	
				<th>Author</th>
				<th>Category</th>
				<th>Rating</th>
			</tr>
		</thead>
	
		<tbody>
	
		{% load sizelimit %}
		{% for app in application_list %}
		<tr>
			<td><a href="{{ app.get_absolute_url }}">{{ app.name|limit:25 }}</a></td>
			<td>{{ app.owner }}</td>
			<td>{{ app.category }}</td>
			<td>{% show_stars app.stars of 5 round to half %}</td>
		</tr>
		{% endfor %}
	
		</tbody>
	</table>
</div>
{% endblock %}
