{% extends 'base.html' %}

{% block title %} Applications Log <hr/>{% endblock %}
{% block breadcrumb%}
	<li><a href="{% url application-list %}">Applications</a></li>
	<li><a href="{% url application-detail identifier%}">{{appname}}</a></li>
    <li>Log</li>
{% endblock %}

{% block content %}
<div id="loglist">
	{% if not logs %}
		<p>There isn't any record of your application running.</p>
	{% endif %}
	
	{% for l in logs %}
		<div class="log">
	        <p>Date: {{l.datetime|date:"d/m/Y"}} </p>
	        <p>Hour: {{l.datetime|date:"H:i"}} </p>
	        <p>Error Description:</p>
	        <code class="description"><pre>{{l.error_description}}</pre></code>
		</div>
		
    {% endfor %}
</div>
{% endblock %}
