
{% extends 'base.html' %}

{% block title %} Add Application {% endblock %}

{% block content %}

{% if form.has_errors %}
<h2>Please correct the following error{{ form.errors|pluralize }}:</h2>
{% endif %}

<form action="" method="post">
  <p><label for="id_name">Application Name:</label> {{ form.name }}
  {% if form.name.errors %}*** {{ form.name.errors|join:", " }}{% endif %}</p>
  <p><label for="id_file">File:</label> {{ form.zipfile }}
  {% if form.zipfile.errors %}*** {{ form.zipfile.errors|join:", " }}{% endif %}</p>
  <p><label for="id_icon">Icon:</label> {{ form.icon }}
  {% if form.icon.errors %}*** {{ form.icon.errors|join:", " }}{% endif %}</p>
  <p><label for="id_category">Category:</label> {{ form.category }}
  {% if form.category.errors %}*** {{ form.category.errors|join:", " }}{% endif %}</p>
  <input type="submit" />
</form>
{% endblock %}
