{% extends 'base.html' %}

{% block title %} Applications List {% endblock %}

{% block breadcrumb%}
	<li>Applications</li>
{% endblock %}

{% block content %}
<div id="addapp" align="right">
	<ul class="object-tools">
		<li><a href='{% url application-add %}' class="add-app">Add Application</a></li>
	</ul>	
</div>

<div id="applist">
	<table id="gradient-style">
		<thead>
			<tr>
				<th>Name</th>	
				<th>Author</th>
				<th>Category</th>
				<th>Rating</th>
			</tr>
		</thead>
	
		<tbody>
	
		{% for app in application_list %}
		<tr>
			<td><a href="{{ app.get_absolute_url }}">{{ app.name }}</a></td>
			<td>{{ app.owner }}</td>
			<td>{{ app.category }}</td>
			<td>{{ app.stars }}</td>
		</tr>
		{% endfor %}
	
		</tbody>
	</table>
</div>
{% endblock %}

{% block menu %}
	<h1>Authenticated User</h1>
	<ul>
		<li class="user"><b>{{ user }}</b></li>
		<li><a href="/accounts/logout/">Logout</a></li>
	</ul>
	<h1>General Menu</h1>
	<ul>
		<li><a href="{% url application-list %}">Applications</a></li>
		<li><a href="{% url contact-admin %}">Contact Admin</a></li>
		<li><a href="{% url tech-doc %}">Technical Documentation</a></li>
		<li><a href="{% url faq %}">FAQ</a></li>
	</ul>
	{% if user.is_staff %}
	<h1>Admin Menu</h1>
	<ul>
		<li><a href="{% url projectors %}">Projectors</a></li>
		<li><a href="{% url screensaver %}">ScreenSaver</a></li>
		<li><a href="{% url suspension %}">Suspension</a></li>
		<li><a href="{% url categories %}">Categories</a></li>
		{% if user.is_superuser %}
		<li><a href="{% url manage-admins %}">Manage Admins</a></li>
		<li><a href="{% url define-admin %}">Define Contact Admin</a></li>
		{% endif %} 
	</ul>
	{% endif %} 
{% endblock %}
