{% extends 'base.html' %}

{% block title %} Contact Admin {% endblock %}

{% block breadcrumb%}
	<li>Contact Admin</li>
{% endblock %}

{% block content %}

<br/>
<p>You might want to write a message to the designated contact administrator if, for example, you think you might have found a bug in the system, or if you need to request a new library for developing applications.</p>
<p>You may send a message to said administrator using the form below.</p>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}