{% extends 'base.html' %}

{% block title %} Define Contact Admin {% endblock %}

{% block breadcrumb%}
	<li>Define Contact Admin</li>
{% endblock %}

{% block content %}
    <p>You can choose the admin that will be notified in case of report abuse</p>
    <p>Current contact admin: {% if current_contact_admin %} {{ current_contact_admin }} {% else %} None. {% endif %}</p>
    {% if admin_list %}
        <form action="" method="post">
        <select name="contact_admin">
        
        {% for admin in admin_list %}
        <option value="{{ admin.email }}">{{ admin.email }}</option>
        {% endfor %}
        <input type="submit" value="Submit" />
        
        </select>
        </form>
    {% else %}
        <em>No admins were found! Please create some admins and try again.</em>
    {% endif %}
{% endblock %}