{% extends 'base.html' %}

{% block title %} Contact Admin {% endblock %}

{% block breadcrumb%}
	<li>Contact Admin</li>
{% endblock %}

{% block content %}

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<br/>
<p>You might want to write a message to the designated contact administrator if you think you might have found a bug in the system, if you need to request a new library for developing applications, etc.</p>
<p>You may send a message to said administrator using the form below.</p>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}