{% extends 'base.html' %}

{% block title %} ScreenSaver {% endblock %}

{% block breadcrumb%}
	<li>ScreenSaver</li>
{% endblock %}

{% block content %}

	<blockquote>
		Define how long does it take for the screensaver to appear.
	</blockquote>
    
    {% if form.errors %}
    <h2>Please correct the following error{{ form.errors|pluralize }}:</h2>
    {% endif %}

    <form action="" method="post" >
        {{ form.as_ul }}
        <div class="clear"></div>
        <input type="submit" value="Update" />
    </form>
    
{% endblock %}
